#gform_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  .gform-body {
    width: 100%;
  }

  .gform_fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column-gap: 10px !important;
    grid-row-gap: 10px !important;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    .gfield {
      width: 100%;
    }

    .ginput_container {
      width: 100%;
    }

    input {
      border-radius: 10px !important;

      height: 50px !important;
      padding-left: 15px !important;
      width: 100% !important;

      &::placeholder {
        color: #03837a;
        font-size: 14px !important;
        font-family: "DM Sans", "sans-serif" !important;
        font-weight: 500;
      }
    }
  }

  input[type="submit"] {
    margin-left: 10px;
    border-radius: 10px !important;
    background-color: #fd6520;
    color: white;
    font-family: "Dela Gothic One", "cursive";
    height: 50px;
    padding: 0 30px;
    width: fit-content;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
      opacity: 0.8;
      transition-duration: 0.3s;
    }

    @media (max-width: 1024px) {
      margin: 0;
      width: 100%;
    }
  }
}

.gform_validation_errors {
  display: none !important;
}

.gform_wrapper.gravity-theme .gfield_validation_message,
.gform_wrapper.gravity-theme .validation_message {
  background: #fff9f900 !important;
  border: 1px solid #ffffff00 !important;
  font-size: 14.992px;
  margin-top: 0px !important;
  padding: 0px !important;
}

.gform_wrapper.gravity-theme .gfield_error .gfield_repeater_cell label,
.gform_wrapper.gravity-theme .gfield_error label,
.gform_wrapper.gravity-theme .gfield_error legend,
.gform_wrapper.gravity-theme .gfield_validation_message,
.gform_wrapper.gravity-theme .validation_message,
.gform_wrapper.gravity-theme [aria-invalid=true]+label,
.gform_wrapper.gravity-theme label+[aria-invalid=true] {
  color: #efe6d6 !important;
}

.gform_footer {
  @media (max-width: 1024px) {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 10px !important;
  }
}

.gform_footer {
  @media (max-width: 1024px) {
    width: 100%;
    margin: 0;
  }
}